<app-nav [type]="'upload'"></app-nav>

<section
  style="height: 89vh; width: 30rem; margin: 0 auto"
  class="d-flex justify-content-center align-items-center flex-column"
>
  <div
    class="toast toast1 bg-danger"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    style="top: 4rem"
  >
    <div class="toast-header">
      <img
        style="width: 2rem"
        src="/assets/bot.jpeg"
        class="rounded me-2"
        alt="..."
      />
      <strong class="me-auto">Failed! </strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">username or email already exists</div>
  </div>
  <h1 style="text-align: center">Signup Page</h1>
  <form
    #registerForm="ngForm"
    style="display: flex; flex-direction: column"
    class="container align-items-center mt-2"
  >
    <!-- username input -->
    <div style="width: 100%" class="form-outline mb-4">
      <input
        pattern="[a-zA-Z ]*"
        name="username"
        required
        ngModel
        type="text"
        id="form2Example3"
        class="form-control"
        #username="ngModel"
      />
      <label class="form-label text-white" for="form2Example3">Username</label>
      <h6 class="text-danger" [hidden]="username.valid || username.untouched">
        Only Alphabets are allowed
      </h6>
    </div>
    <!-- Email input -->
    <div style="width: 100%" class="form-outline mb-4">
      <input
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        name="email"
        required
        ngModel
        #email="ngModel"
        type="email"
        id="form2Example1"
        class="form-control"
      />
      <label class="form-label text-white" for="form2Example1"
        >Email address</label
      >
      <h6 class="text-danger" [hidden]="email.valid || email.untouched">
        Enter Valid Email
      </h6>
    </div>

    <!-- Password input -->
    <div style="width: 100%" class="form-outline mb-4">
      <input
        minlength="6"
        required
        ngModel
        #password="ngModel"
        name="password"
        type="password"
        id="form2Example2"
        class="form-control"
      />
      <label class="form-label text-white" for="form2Example2">Password</label>
      <h6 class="text-danger" [hidden]="password.valid || password.untouched">
        Enter Valid Password with minLen 6
      </h6>
    </div>

    <!-- Submit button -->
    <button
      (click)="formData(registerForm)"
      [disabled]="registerForm.invalid"
      style="width: 8rem"
      class="btn btn-primary mb-4"
    >
      Sign up
    </button>
  </form>
  <p>Already registered? <a routerLink="/login">login here</a></p>
</section>
